body {
  font-family: Arial;
  background: bisque;
}

.page {
  display: none;
  padding: 20px;
}

.page.active {
  display: block;
}

.card {
  background: rgb(239, 239, 234);
  padding: 20px;
  max-width: 400px;
}

.btn {
  padding: 10px;
  margin-top: 10px;
}

.error {
  color: red;
}

.hidden {
  display: none;
}
